.git/**
.gitignore
.github/**
.npm-cache/**
.vscode/**
.vscode-test/**
coverage/**
dist-test/**
src/**
test/**
scripts/**
node_modules/**
*.vsix
*.log
**/*.map
tsconfig.json
esbuild.mjs
package-lock.json
resources.zip
VSCode-Extension-Initial-Release-Report.md
